absl-py==2.1.0
addict==2.4.0
certifi==2023.11.17
charset-normalizer==3.3.2
einops==0.7.0
filelock==3.13.1
fsspec==2024.2.0
future==0.18.3
grpcio==1.62.1
huggingface-hub==0.21.4
idna==3.6
imageio==2.33.1
importlib_metadata==7.0.2
kornia==0.7.1
lazy_loader==0.3
lmdb==1.4.1
lpips==0.1.4
Markdown==3.5.2
MarkupSafe==2.1.5
networkx==3.2.1
numpy==1.26.3
opencv-python==4.9.0.80
packaging==23.2
pillow==10.2.0
platformdirs==4.2.0
protobuf==4.25.3
PyWavelets==1.5.0
PyYAML==6.0.1
requests==2.31.0
safetensors==0.4.2
scikit-image==0.19.3
scipy==1.12.0
six==1.16.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tifffile==2023.12.9
timm==0.9.12
tomli==2.0.1
tqdm==4.66.1
typing_extensions==4.9.0
urllib3==2.1.0
Werkzeug==3.0.1
yapf==0.40.2
zipp==3.17.0
